.navbar-main {
  display: flex;
  align-items: center; /* allinea tutto */
  gap: 24px; /*distanza tra gli elementi*/
  order: 2;
  margin-top: 10px;
  height: 88px;
  padding-left: 0;
}

.search {
  position: relative;
  height: 56px;
  width: 300px; /* <---------- aumenta la larghezza */
  max-width: 100%;
  border-radius: 30px;
}

.search input {
  padding: 14px 18px 14px 56px; /* spazio a sinistra per l’icona */
  border-radius: 999px;
  border: 1px solid #cfc9c3;
  background: #f7f6f4;
  height: 56px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  font-family: JETSansDigital, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #3a3a3a;
}

.search svg {
  position: absolute; /*posiziona l'icona dentro l'input*/
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  fill: #6b6b6b;
}

.ordinaPer {
  font-weight: 800;
  font-size: 20px;
  color: #373737;
  white-space: nowrap;
}

select {
  border-radius: 18px;
  height: 56px;
  width: 420px;
  border: 1px solid #cfc9c3;
  background: #fff;
  font-family: JETSansDigital, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 18px;
  font-weight: 400;
  font-size: 18px;
  color: #464141;
}

.maps {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  border: 1px solid #e6e1db; /*x togliere il bordo nero al bottone*/
  background: #f4efea;
  display: grid;
  place-items: center;
  padding: 0;
}

/*fino a max 1024 si vedono solo input e bottone
da 1025 in poi si vede tutto il resto*/
@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
  }
  .navbar-main {
    gap: 14px;
  }
  input {
    width: 100%;
    background-color: #f6f3ef;
  }
  .search svg {
    display: flex;
    fill: #f36805;
  }
  .ordinaPer {
    display: none;
  }
  select {
    display: none;
  }
  .maps {
    display: grid;
    color: #f36805;
  }
}
