<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="ristoranti.css" />
    <title>Ristoranti</title>
  </head>
  <body>
    <div class="container-bottom-card">
      <div class="header">
        <h1>Ordina da 382 locali</h1>
        <div class="info-icon">i</div>
      </div>

      <!-- Ristorante 1 -->
      <div class="restaurant-card">
        <div class="restaurant-image">
          <img
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_thumb,h_144,w_287/f_auto/q_auto/d_it:cuisines:pizza-4.jpg/v1/it/restaurants/236644.jpg"
            width="286.99"
            height="144"
            alt="Franco Gallifuoco Pizzeria"
          />
        </div>
        <div class="restaurant-info">
          <div>
            <h2 class="restaurant-name">Franco Gallifuoco Pizzeria</h2>
            <div class="rating-section">
              <div class="rating">
                <!--STELLA PIENA SHORTCUT ALT+9733-->
                <span class="star">★</span>
                <span class="rating-value">4,7</span>
                <span>(100+)</span>
              </div>
              <span>Pizza, Fritti</span>
            </div>
          </div>
          <div class="delivery-info">
            <div class="info-item">
              <!-- svg orologio -->
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <circle cx="12" cy="12" r="10" stroke-width="2" />
                <path d="M12 6v6l4 2" stroke-width="2" />
              </svg>
              <span>10-25 min</span>
            </div>

            <!-- svg lampo -->
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M13 2L3 14h9l-1 8 10-12h-9l1-8z" stroke-width="2" />
              </svg>
              <span>0,49€ Consegna</span>
            </div>
            <div class="info-item">
              <!-- svg prezzo-->
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M3 3h18v18H3z" stroke-width="2" />
                <path d="M9 17v-6h6v6" stroke-width="2" />
              </svg>
              <span>Min. 5,00€</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Ristorante 2 -->
      <div class="restaurant-card">
        <div class="restaurant-image">
          <img
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_thumb,h_144,w_287/f_auto/q_auto/d_it:cuisines:dolci-1.jpg/v1/it/restaurants/279271.jpg"
            width="286.99"
            height="144"
            alt="Pasticceria Tizzano"
          />
        </div>
        <div class="restaurant-info">
          <div>
            <h2 class="restaurant-name">
              Pasticceria Tizzano dal 1960 - Unica Sede
            </h2>
            <div class="rating-section">
              <div class="rating">
                <span class="star">★</span>
                <span class="rating-value">4,9</span>
                <span>(19)</span>
              </div>
              <span>Dolci, Pasticceria</span>
            </div>
          </div>
          <div class="delivery-info">
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <circle cx="12" cy="12" r="10" stroke-width="2" />
                <path d="M12 6v6l4 2" stroke-width="2" />
              </svg>
              <span>10-25 min</span>
            </div>
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M13 2L3 14h9l-1 8 10-12h-9l1-8z" stroke-width="2" />
              </svg>
              <span>0,49€ Consegna</span>
            </div>
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M3 3h18v18H3z" stroke-width="2" />
                <path d="M9 17v-6h6v6" stroke-width="2" />
              </svg>
              <span>Min. 5,00€</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Ristorante 3 -->
      <div class="restaurant-card">
        <div class="restaurant-image">
          <img
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_thumb,h_144,w_287/f_auto/q_auto/d_it:cuisines:pizza-0.jpg/v1/it/restaurants/262910.jpg"
            width="286.99"
            height="144"
            alt="Antica Pizzeria di Rosa C."
          />
        </div>
        <div class="restaurant-info">
          <div>
            <h2 class="restaurant-name">Antica Pizzeria di Rosa C. 1954</h2>
            <div class="rating-section">
              <div class="rating">
                <span class="star">★</span>
                <span class="rating-value">4</span>
                <span>(2.800+)</span>
              </div>
              <span>Pizza, Panini</span>
            </div>
          </div>
          <div class="delivery-info">
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <circle cx="12" cy="12" r="10" stroke-width="2" />
                <path d="M12 6v6l4 2" stroke-width="2" />
              </svg>
              <span>25-40 min</span>
            </div>
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M13 2L3 14h9l-1 8 10-12h-9l1-8z" stroke-width="2" />
              </svg>
              <span class="yellow-span">Consegna gratuita</span>
            </div>
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M3 3h18v18H3z" stroke-width="2" />
                <path d="M9 17v-6h6v6" stroke-width="2" />
              </svg>
              <span>Min. 4,50€</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Ristorante 4  -->
      <div class="restaurant-card">
        <div class="restaurant-image">
          <img
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_thumb,h_144,w_287/f_auto/q_auto/d_it:cuisines:hamburger-3.jpg/v1/it/restaurants/240523.jpg"
            width="286.99"
            height="144"
            alt="McDonald's"
          />
        </div>
        <div class="restaurant-info">
          <div>
            <h2 class="restaurant-name">McDonald's - Piazza Garibaldi</h2>
            <div class="rating-section">
              <div class="rating">
                <span class="star">★</span>
                <span class="rating-value">4,1</span>
                <span>(1.300+)</span>
              </div>
              <span>Hamburger, Americano</span>
            </div>
          </div>
          <div class="delivery-info">
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <circle cx="12" cy="12" r="10" stroke-width="2" />
                <path d="M12 6v6l4 2" stroke-width="2" />
              </svg>
              <span>10-25 min</span>
            </div>
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M13 2L3 14h9l-1 8 10-12h-9l1-8z" stroke-width="2" />
              </svg>
              <span>0,49€ Consegna</span>
            </div>
            <div class="info-item">
              <svg
                class="info-icon-svg"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M3 3h18v18H3z" stroke-width="2" />
                <path d="M9 17v-6h6v6" stroke-width="2" />
              </svg>
              <span>Min. 5,00€</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
