<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="topCard.css" />
    <title>Top-Card</title>
  </head>
  <body>
    <div class="container">
      <ul class="card-list">
        <li class="card-pizza">
          <img
            class="img-pizza"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/pizza"
            alt="pizza"
            width="121.99"
            height="89.97"
          />
          <span class="name-pizza">Pizza</span>
        </li>

        <li class="card-italy">
          <img
            class="img-italian"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/italiano"
            alt="italiano"
            width="121.99"
            height="89.97"
          />
          <span class="name-italy">Italiano</span>
        </li>

        <li class="card-panini">
          <img
            class="img-panini"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/panini"
            alt="panini"
            width="121.99"
            height="89.97"
          />
          <span class="name-panini">Panini</span>
        </li>

        <li class="card-hamburger">
          <img
            class="img-hamburger"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/hamburger"
            alt="Hamburger"
            width="121.99"
            height="89.97"
          />
          <span class="name-hamburger">Hamburger</span>
        </li>

        <li class="card-fried">
          <img
            class="img-fried"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/fritti"
            alt="Fritti"
            width="121.99"
            height="89.97"
          />
          <span class="name-fried">Fritti</span>
        </li>

        <li class="card-sushi-japanese">
          <img
            class="img-sushi-japanese"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/sushi"
            alt="Sushi"
            width="121.99"
            height="89.97"
          />
          <span class="name-sushi-japanese">Sushi-Giapponese</span>
        </li>

        <li class="card-poke">
          <img
            class="img-poke"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/poke"
            alt="poke"
            width="121.99"
            height="89.97"
          />
          <span class="name-poke">Poke</span>
        </li>

        <li class="card-gastronomy">
          <img
            class="img-gastronomy"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/gastronomia"
            alt="Gastronomia"
            width="121.99"
            height="89.97"
          />
          <span class="name-gastronomy">Gastronomia</span>
        </li>

        <li class="card-button">
          <button class="show-more" type="button">Mostra di più</button>
        </li>
      </ul>
    </div>
  </body>
</html>
