<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="topCard.css" />
    <title>Top-Card</title>
  </head>
  <body>
    <div class="containerTopCard">
      <ul class="card-list">
        <li class="categoria">
          <div class="bollino bg-arancio">
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/panini"
              alt="Panini"
            />
          </div>
          <span class="nome">Panini</span>
        </li>

        <li class="categoria">
          <div class="bollino bg-prugna">
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/pizza"
              alt="Pizza"
            />
          </div>
          <span class="nome">Pizza</span>
        </li>

        <li class="categoria">
          <div class="bollino bg-arancio">
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/hamburger"
              alt="Hamburger"
            />
          </div>
          <span class="nome">Hamburger</span>
        </li>

        <li class="categoria">
          <div class="bollino bg-giallo">
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/fritti"
              alt="Fritti"
            />
          </div>
          <span class="nome">Fritti</span>
        </li>

        <li class="categoria">
          <div class="bollino bg-azzurro">
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/americano"
              alt="Americano"
            />
          </div>
          <span class="nome">Americano</span>
        </li>

        <li class="categoria">
          <div class="bollino bg-rosa">
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/dolci"
              alt="Dolci"
            />
          </div>
          <span class="nome">Dolci</span>
        </li>

        <li class="categoria">
          <div class="bollino bg-prugna">
            <img
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/cornetti"
              alt="Cornetti"
            />
          </div>
          <span class="nome">Cornetti</span>
        </li>

        <li class="categoria">
          <button class="mostra-altri" type="button" aria-label="Mostra di più">
            ›
          </button>
        </li>
      </ul>
    </div>
  </body>
</html>
