<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar 2</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="NavbarHomepage2.css" />
  </head>
  <body>
    <nav class="navbar">
      <!--parte sinistra-->
      <div class="left-side">
        <!--icona con scritto JustEat-->
        <div class="icon-JustEat">
          <img src="icona casa e freccia2.png" class="first-part-icon" />
          <img src="icona scritta JustEat2.png" class="second-part-icon" />
        </div>
      </div>
      <ul class="central-side">
        <!--dove desideri ordinare-->
        <li class="first-button">
          <a href="#">
            <svg
              class="icon-maps"
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="var(--xds-color-content-brand-solid)"
              viewBox="0 0 16 16"
              width="20"
              height="20"
              style="flex-shrink: 0"
            >
              <path
                d="M11.938 3.135a5.574 5.574 0 0 0-7.875 7.875L8 15l3.938-3.938a5.575 5.575 0 0 0 0-7.927Zm-.928 7L8 13.1l-3.01-3.01a4.27 4.27 0 0 1 0-6.029 4.27 4.27 0 0 1 6.02 0 4.27 4.27 0 0 1 0 6.03v.043ZM8 4.719A2.406 2.406 0 1 0 8 9.53 2.406 2.406 0 0 0 8 4.72Zm0 3.5A1.094 1.094 0 1 1 8 6.03 1.094 1.094 0 0 1 8 8.22Z"
              ></path>
            </svg>
            <span>Dove desideri ordinare?</span>
          </a>
        </li>
        <div class="two-buttons">
          <!--Consegna-->
          <li class="second-button">
            <a href="#2">
              <svg
                class="icon-bike"
                xmlns="http://www.w3.org/2000/svg"
                role="presentation"
                focusable="false"
                fill="currentColor"
                viewBox="0 0 16 16"
                width="20"
                height="20"
                style="flex-shrink: 0"
              >
                <path
                  d="M12.139 7.405 11 4.158a.218.218 0 0 1 0-.157.246.246 0 0 1 .158-.123l1.216-.446v-1.4l-1.627.613a1.514 1.514 0 0 0-.998 1.933l.359 1.015H9.75a2.433 2.433 0 0 0-1.925.963l-1.207 1.61-1.06-2.135h.692V4.718h-3.5v1.313H4.09l.726 1.461a2.87 2.87 0 0 0-.735-.105 2.826 2.826 0 1 0 2.826 2.818v-.201l1.97-2.66a1.111 1.111 0 0 1 .874-.438h.831l.254.717a2.844 2.844 0 1 0 1.313-.218h-.01ZM4.08 11.719a1.514 1.514 0 1 1 1.514-1.514 1.505 1.505 0 0 1-1.514 1.514Zm7.875 0a1.514 1.514 0 1 1 1.401-.934 1.505 1.505 0 0 1-1.4.934Z"
                ></path>
              </svg>
              <span>Consegna</span>
            </a>
          </li>
          <!--Ritiro-->
          <li class="third-button">
            <a href="#3">
              <svg
                class="icon-ritiro"
                xmlns="http://www.w3.org/2000/svg"
                role="presentation"
                focusable="false"
                fill="currentColor"
                viewBox="0 0 16 16"
                width="20"
                height="20"
                style="flex-shrink: 0"
              >
                <path
                  d="M8.875 2.531H15V1.22H8.875a4.375 4.375 0 0 0-3.929 2.625H3.257l-.122.052A2.047 2.047 0 0 0 1.962 5.2a2.205 2.205 0 0 0 .788 2.275l-.796 5.95c-.012.365.12.72.367.989a1.163 1.163 0 0 0 .875.367h8.671a1.162 1.162 0 0 0 .875-.367 1.364 1.364 0 0 0 .36-1.05l-.77-5.793a2.695 2.695 0 0 0 1.478-1.54H15V4.72h-2.266l-.123.507a1.558 1.558 0 0 1-1.864 1.252l-.34-.062-1.13 1.129a.578.578 0 0 1-.805 0 .586.586 0 0 1-.12-.64.551.551 0 0 1 .13-.183l1.618-1.54a.752.752 0 0 0 .184-.875.77.77 0 0 0-.718-.49H6.46a2.888 2.888 0 0 1 2.415-1.286Zm0 6.493a1.873 1.873 0 0 0 1.33-.551l.665-.666h.087l.753 5.662H3.266l.761-5.688h3.098a1.873 1.873 0 0 0 1.75 1.242Zm-.639-3.868-.665.63c-.198.192-.35.425-.446.683h-3.5a.936.936 0 0 1-.359-.875.717.717 0 0 1 .324-.394h4.646v-.044Z"
                ></path>
              </svg>
              <span>Ritiro</span>
            </a>
          </li>
        </div>
      </ul>
      <div class="right-side">
        <!--bandiera-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          role="presentation"
          focusable="false"
          fill="currentColor"
          viewBox="0 0 16 16"
          width="24"
          height="24"
        >
          <path fill="#EEE" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Z"></path>
          <path
            fill="#D80027"
            d="M15 8a7 7 0 0 0-4.566-6.563v13.126A7 7 0 0 0 15 8Z"
          ></path>
          <path
            fill="#6DA544"
            d="M1 8a7 7 0 0 0 4.566 6.563V1.437A7 7 0 0 0 1 8Z"
          ></path>
        </svg>
        <!-- menu hamburger-->
        <div class="hamburger-menu">
          <div class=""></div>
          <div class=""></div>
          <div class=""></div>
        </div>
      </div>
    </nav>
  </body>
</html>
