<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/web-eveing3-team1-progetto-1/components/Footer2/footer_2.css"
    />
    <title>Document</title>
  </head>
  <body>
    <footer class="piede-pagina">
      <nav class="link-piede">
        <a href="#">Diventa Partner Just Eat</a>
        <a href="#">Lavora con noi</a>
        <a href="#">Termini di servizio</a>
        <a href="#">Informativa sulla privacy</a>
        <a href="#">Informazioni legali</a>
        <a href="#">Informativa cookie</a>
        <a href="#">Accessibilità</a>
      </nav>

      <nav class="link-piede-secondari">
        <a href="#">Segnala vulnerabilità</a>
        <a href="#">Linea diretta per l’Etica</a>
      </nav>

      <p class="copyright">© 2025 Just Eat</p>

      <a href="#" class="preferenze-cookie">Vedi preferenze sui cookie</a>

      <a href="#inizio-pagina" class="torna-su">↑</a>
    </footer>
  </body>
</html>
