/*
        ----------------------QUI CI SONO LE TASK DELLA SECONDA PAGINA ---------------
*/

@import url(../../../components/Navbar_2/NavbarHomepage2.css);
@import url(../../../components/Sidebar_min1025px/sidebar.css);
@import url(../../../components/sidebar_max1024px/sidebar_max1024px.css);
@import url(../../../components/Button/taskButton.css);
@import url(../../../components/Footer2/footer_2.css);
@import url(../../../components/Griglie/griglie.css);
@import url(../../../components/Ristoranti/ristoranti_task.css);
@import url(../../../components/Card_Homepage/cardHomepage.css);
@import url(../../../components/Elemento-main_2/Elemento-main2.css);
@import url(../../../components/TopCard/topCard.css);

.sidebar_main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/-1;
  order: 1;
}

.navbar-main {
  display: flex;
  order: 2;
  gap: 40px;
  margin-top: 10px;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.piede-pagina {
  margin-top: auto;
}
