/* qui ci sono i css di tutte le task */
@import url(../../../components/Button/taskButton.css);
@import url(../../../components/Card_1/CardHomepage1.css);
@import url(../../../components/Card_Homepage/cardHomepage.css);
@import url(../../../components/Footer/footer.css);
@import url(../../../components/Navbar_1/NavbarHomepage1.css);
@import url(../../../components/SezioneRicerca/ScaricaApp/scaricaapp.css);
@import url(../../../components/SezioneRicerca/ScaricaApp/homeJE.css);

.sidebar_main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/-1;
  order: 1;
}

.navbar-main {
  display: flex;
  order: 2;
  gap: 40px;
  margin-top: 10px;
}
