:root {
  --xds-color-content-brand-solid: #ff6600;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; /*x non tenere tutto su una riga*/
  background-color: white;
}
h3 {
  text-align: center;
  font-family: JETSansDigital, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: rgb(0, 0, 0, 0.76);
  margin: 0; /*x non lasciare spazio tra h3 e h2*/
  display: block;
  padding-top: 100px;
}
h2 {
  color: #f36805;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  font-family: JETSansDigital, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  display: block;
}

.tre-card {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  display: flex;
  gap: 80px;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 50px;
}
.prima-card,
.seconda-card,
.terza-card {
  fill: var(--xds-color-content-brand-solid);
  align-items: center;
  text-align: center;
  align-content: center;
  width: 20rem;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px;
  word-break: break-word;
  white-space: normal;
}
.seconda-card {
  padding-bottom: 50px;
}

.prima-card svg {
  width: 130px;
  height: 130px;
  align-items: center;
  text-align: center;
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
}

.seconda-card svg {
  width: 130px;
  height: 130px;
  align-items: center;
  text-align: center;
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
}
.terza-card svg {
  width: 130px;
  height: 130px;
  align-items: center;
  text-align: center;
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .tre-card {
    overflow-x: auto;
    white-space: nowrap; /*le card stanno in riga*/
    justify-content: flex-start; /*card allineate a sx*/
    gap: 100px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .prima-card,
  .seconda-card,
  .terza-card {
    flex: 256px;
    min-width: 256px; /*non si ristringono oltre*/
  }
  .prima-card svg,
  .seconda-card svg,
  .terza-card svg {
    width: 130px;
    height: 130px;
  }
  .icona_just_eat svg {
    height: 32px;
    width: 133px;
  }
}
