<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="sidebar.css" />
    <title>Sidebar</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="first-section">
        <p>384 locali</p>

        <label class="control-label switch">
          <input id="aperto-adesso" type="checkbox" name="aperto" />
          <span class="label-text">Aperto ora</span>
          <span class="slider"></span>
        </label>

        <label class="control-label switch">
          <input id="nuovo" type="checkbox" name="nuovo" />
          <span class="label-text">Nuovo</span>
          <span class="slider"></span>
        </label>

        <label class="control-label switch">
          <input
            id="consegna-gratuita"
            type="checkbox"
            name="consegna-gratuita"
          />
          <span class="label-text">Consegna gratuita</span>
          <span class="slider"></span>
        </label>
      </div>

      <div class="second-section">
        <div class="second-section-info">
          <span>Importo minimo dell'ordine</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            role="presentation"
            focusable="false"
            viewBox="0 0 16 16"
            class="i-circle-icon"
            width="24"
            height="24"
          >
            <path
              d="M8 1.219A6.781 6.781 0 1 0 14.781 8 6.79 6.79 0 0 0 8 1.219Zm0 12.25A5.469 5.469 0 1 1 8 2.53a5.469 5.469 0 0 1 0 10.938ZM7.344 7.29h1.312v3.334H7.344V7.291Zm1.531-1.916a.875.875 0 1 1-1.75 0 .875.875 0 0 1 1.75 0Z"
            ></path>
          </svg>
        </div>

        <div class="second-section-checkbox">
          <ul class="list-price">
            <li>
              <label class="radio-item">
                <input
                  type="radio"
                  name="prezzo-minimo"
                  id="all"
                  value="all"
                  checked
                />
                <span class="custom-radio"></span>Mostra tutti (384)
              </label>
            </li>
            <li>
              <label class="radio-item">
                <input
                  type="radio"
                  name="prezzo-minimo"
                  id="max-10"
                  value="10"
                />
                <span class="custom-radio"></span>Fino a 10,00€ (181)
              </label>
            </li>
            <li>
              <label class="radio-item">
                <input
                  type="radio"
                  name="prezzo-minimo"
                  id="max-15"
                  value="15"
                />
                <span class="custom-radio"></span>Fino a 15,00€ (344)
              </label>
            </li>
          </ul>
        </div>
      </div>

      <div class="valutation">
        <span>Valutazione</span>
        <div class="valutazione-stelle">
          <div class="valutazione-stelle">
            <!-- 1 -->
            <label>
              <input type="radio" name="rating" value="1" />
              <svg viewBox="0 0 16 16">
                <path
                  d="m12.288 14.449-4.183-2.197a.219.219 0 0 0-.21 0L3.713 14.45 4.5 9.794a.254.254 0 0 0 0-.193L1.07 6.302l4.673-.682a.228.228 0 0 0 .166-.114L8 1.271l2.091 4.235a.227.227 0 0 0 .167.114l4.672.682-3.386 3.3a.254.254 0 0 0-.061.192l.805 4.655Z"
                />
              </svg>
            </label>

            <!-- 2 -->
            <label>
              <input type="radio" name="rating" value="2" />
              <svg viewBox="0 0 16 16">
                <path
                  d="m12.288 14.449-4.183-2.197a.219.219 0 0 0-.21 0L3.713 14.45 4.5 9.794a.254.254 0 0 0 0-.193L1.07 6.302l4.673-.682a.228.228 0 0 0 .166-.114L8 1.271l2.091 4.235a.227.227 0 0 0 .167.114l4.672.682-3.386 3.3a.254.254 0 0 0-.061.192l.805 4.655Z"
                />
              </svg>
            </label>

            <!-- 3 -->
            <label>
              <input type="radio" name="rating" value="3" />
              <svg viewBox="0 0 16 16">
                <path
                  d="m12.288 14.449-4.183-2.197a.219.219 0 0 0-.21 0L3.713 14.45 4.5 9.794a.254.254 0 0 0 0-.193L1.07 6.302l4.673-.682a.228.228 0 0 0 .166-.114L8 1.271l2.091 4.235a.227.227 0 0 0 .167.114l4.672.682-3.386 3.3a.254.254 0 0 0-.061.192l.805 4.655Z"
                />
              </svg>
            </label>

            <!-- 4 -->
            <label>
              <input type="radio" name="rating" value="4" />
              <svg viewBox="0 0 16 16">
                <path
                  d="m12.288 14.449-4.183-2.197a.219.219 0 0 0-.21 0L3.713 14.45 4.5 9.794a.254.254 0 0 0 0-.193L1.07 6.302l4.673-.682a.228.228 0 0 0 .166-.114L8 1.271l2.091 4.235a.227.227 0 0 0 .167.114l4.672.682-3.386 3.3a.254.254 0 0 0-.061.192l.805 4.655Z"
                />
              </svg>
            </label>

            <!-- 5 -->
            <label>
              <input type="radio" name="rating" value="5" />
              <svg viewBox="0 0 16 16">
                <path
                  d="m12.288 14.449-4.183-2.197a.219.219 0 0 0-.21 0L3.713 14.45 4.5 9.794a.254.254 0 0 0 0-.193L1.07 6.302l4.673-.682a.228.228 0 0 0 .166-.114L8 1.271l2.091 4.235a.227.227 0 0 0 .167.114l4.672.682-3.386 3.3a.254.254 0 0 0-.061.192l.805 4.655Z"
                />
              </svg>
            </label>
          </div>
        </div>
      </div>

      <div class="sale-discount">
        <div class="sale-info">
          <span>Offerte e sconti</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            role="presentation"
            focusable="false"
            viewBox="0 0 16 16"
            class="i-circle-icon"
            width="24"
            height="24"
          >
            <path
              d="M8 1.219A6.781 6.781 0 1 0 14.781 8 6.79 6.79 0 0 0 8 1.219Zm0 12.25A5.469 5.469 0 1 1 8 2.53a5.469 5.469 0 0 1 0 10.938ZM7.344 7.29h1.312v3.334H7.344V7.291Zm1.531-1.916a.875.875 0 1 1-1.75 0 .875.875 0 0 1 1.75 0Z"
            ></path>
          </svg>
        </div>
        <div class="list-price-checkbox">
          <ul class="list-pricee">
            <li><input type="checkbox" /> Offerte (81)</li>
            <li><input type="checkbox" /> Carta Fedeltà (69)</li>
          </ul>
        </div>
      </div>

      <div class="last-section">
        <span class="last-section-info">Esigenze alimentari</span>
        <span><input type="checkbox" /> Halal (1)</span>
      </div>
    </div>
  </body>
</html>
