<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOMEPAGE JUST EAT</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="homeJE.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="left-section">
        <div class="content">
          <h1>Ordina cibo e tanto altro</h1>
          <h2 class="subtitle">Ristoranti e spesa, a domicilio</h2>

          <div class="search-container">
            <input
              type="text"
              class="search-input"
              placeholder="Indirizzo completo"
            />
            <button class="search-button">Cerca</button>
          </div>
        </div>
      </div>
      <div class="middle-section">
        <svg
          class="hero-image-section_slopeehNdR"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
        >
          <polygon class="poligono-marrone" points="0,0 100,0 0,100"></polygon>
          <polygon
            class="poligono-arancio"
            points="100,0 100,100 0,100"
          ></polygon>
        </svg>
      </div>

      <div class="right-section">
        <figure class="food-image-container">
          <img
            class="food-image"
            src="https://www.justeat.it/consumer-web/images/falafel_salad_home_dss_desktop_it.45ec9a5d.png"
            alt="Immagine qualcuno ha detto sopra una ciotola di falafel e verdura su sfondo arancione con logo JUST EAT sotto"
          />
        </figure>
      </div>
    </div>
  </body>
</html>
