<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scarica App</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="scaricaapp.css" />
  </head>
  <body>
    <div class="box-scarica-app">
      <div class="scritta-scarica-app">
        <article class="sezione-sinistra-scarica-app">
          <h2 class="scarica-app">Scarica l'app</h2>
          <p class="descrizione-scarica-app">
            Il tuo piatto preferito è a portata di click!
          </p>
          <img
            class="scarica-app-ios"
            src="https://www.justeat.it/consumer-web/images/download-ios.b3249f81.png"
            alt="Scarica l'app iOS"
            aria-hidden="true"
            width="auto"
            height="39.7px"
          />
          <img
            class="scarica-app-android"
            src="https://www.justeat.it/consumer-web/images/download-google-play.9eccbe0c.png"
            alt="Scarica l'app Android"
            aria-hidden="true"
            width="auto"
            height="39.7px"
          />
        </article>
      </div>
      <div class="immagine-telefono">
        <img
          class="telefono"
          src="https://www.justeat.it/consumer-web/images/mobile-app-on-phone-it.207d7a8d.png"
          alt="Immagine dell'elenco ristoranti nella nostra app per mobile"
          width="320px"
        />
      </div>
    </div>
  </body>
</html>
